        <!-- Footer-->
        <footer class="footer text-center bg">
            <div class="container-fluid  pt-5 pb-5">
                <div class="row">
                    <!-- Footer Location-->
                    <div class="col-lg-4 mb-5 mb-lg-0 text-white">
                        <h4 class="text-uppercase mb-2">Email</h4>
                        <p class="lead mb-0">
                            s.alvarez.bulfon@gmail.com
                            <br>
                            <i class="fa-solid fa-envelope"></i>
                        </p>
                    </div>
                    <!-- Redes Sociales-->
                    <div class="col-lg-4 mb-5 mb-lg-0 text-white">
                        <h4 class="text-uppercase mb-2">Redes Sociales</h4>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/SAlvarezBulfon" target="_blank"><i class="fa-brands fa-github"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.behance.net/salvarezbulfon" target="_blank"><i class="fa-brands fa-behance"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/salvarezbulfon/" target="_blank"><i class="fab fa-fw fa-linkedin-in"></i></a>
                        <a class="btn btn-outline-light btn-social mx-1" href="https://dribbble.com/sophiabulfon" target="_blank"><i class="fab fa-fw fa-dribbble"></i></a>
                    </div>
                    <!-- Footer About Text-->
                    <div class="col-lg-4 text-white">
                        <h4 class="text-uppercase mb-2">Número de contacto</h4>
                        <p class="lead mb-0">
                            +54 261 566 2229 
                            <br>
                            <i class="fa-solid fa-mobile-button"></i>       
                        </p>
                    </div>
                </div>
            </div>
        </footer>