
<!-- Editar Soft Skills -->
<div class="modal fade" id="edit-soft-skills" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Soft Skills</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-content mb-3 mt-2">
            <label for="descripcion" class="input-label">Descripción</label>
            <textarea
            name="descripcion"
            cols="0"
            rows="10"
            class="input"
            required
            minlength="20"></textarea>
          </div>
        </div>      
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Editar</button>
        </div>
      </div>
    </div>
  </div>