
<!-- Editar Experiencia Laboral -->
<div class="modal fade" id="edit-trabajo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Experiencia Laboral</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" [formGroup]="editarExp">
          <div class="input-content mb-3 mt-2">
            <label for="title" class="input-label">Título</label>
            <input type="text" name="tile" class="input" required minlength="6" formControlName="title">
          </div>
          <div class="input-content mb-3 mt-2">
            <label for="duracion" class="input-label">Duración</label>
            <input type="text" name="duracion" class="input" required minlength="6" formControlName="time">
          </div>
          <div class="input-content mb-3 mt-2">
            <label for="descripcion" class="input-label">Descripción</label>
            <textarea
            name="descripcion"
            cols="0"
            rows="5"
            class="input"
            required formControlName="description"></textarea>
          </div>
        </form>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="onUpdate()">Editar</button>
        </div>
      </div>
    </div>
  </div>