<!-- Agregar Experiencia Laboral -->
<div class="modal fade" id="agregar-trabajo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <form action="" (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Añadir Experiencia Laboral</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="input-content mb-3 mt-2">
              <label for="title" class="input-label">Título</label>
              <input type="text" name="tile" class="input" required minlength="6" [(ngModel)]="title">
            </div>
            <div class="input-content mb-3 mt-2">
              <label for="time" class="input-label">Duración</label>
              <input type="text" name="time" class="input" required minlength="6" [(ngModel)]="time">
            </div>
            <div class="input-content mb-3 mt-2">
              <label for="description" class="input-label">Descripción</label>
              <textarea
              name="description"
              cols="0"
              rows="5"
              class="input"
              required [(ngModel)]="description"></textarea>
            </div>
        </div>
        
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Agregar</button>
        </div>
      </form>
      </div>
    </div>
</div>