<!-- Modal Inicio de Sesión -->
<div class="modal fade" id="inicio-sesion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content inicio-sesion">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¡Bienvenida de nuevo!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
          <div class="modal-body">
            <div class="input-content mb-3 mt-2">
              <label for="user" class="input-label">Usuario</label>
              <input type="text" name="user" class="input" required minlength="6" maxlength="20" [(ngModel)]="username">
            </div>
            <div class="input-content mb-3">
              <label for="pass" class="input-label">Contraseña</label>
              <input type="password" name="pass" class="input" required minlength="6" [(ngModel)]="password">
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="button1 mx-auto" (click)="loginUser()">Iniciar Sesión</button>
          </div>
      </div>
    </div>
  </div>