
<!-- Editar Formacion Academica -->
<div class="modal fade" id="edit-estudios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Formación Académica</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" [formGroup]="editarEstudio">
          <div class="input-content mb-3 mt-2">
            <label for="title" class="input-label">Título</label>
            <input type="text" name="title" class="input" required minlength="6" formControlName="title">
          </div>
          <div class="input-content mb-3 mt-2">
            <label for="time" class="input-label">Duración</label>
            <input type="text" name="time" class="input" required minlength="6" formControlName="time">
          </div>
          <div class="input-content mb-3 mt-2">
            <label for="description" class="input-label">Lugar</label>
            <input type="text" name="description" class="input" required minlength="6" formControlName="description">
          </div>
          </form>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="onUpdate()">Editar</button>
        </div>
      </div>
    </div>
  </div>