
<!-- Editar Formacion Academica -->
<div class="modal fade" id="edit-estudios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Formación Académica</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-content mb-3 mt-2">
            <label for="title" class="input-label">Título</label>
            <input type="text" name="tile" class="input" required minlength="6" maxlength="30">
          </div>
          <div class="input-content mb-3 mt-2">
            <label for="duracion" class="input-label">Duración</label>
            <input type="text" name="duracion" class="input" required minlength="6" maxlength="20">
          </div>
          <div class="input-content mb-3 mt-2">
            <label for="lugar" class="input-label">Lugar</label>
            <input type="text" name="lugar" class="input" required minlength="6" maxlength="20">
          </div>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-danger">Eliminar</button>
          <button type="button" class="btn btn-primary">Editar</button>
        </div>
      </div>
    </div>
  </div>