<!--Proyectos-->
    <section id="proyectos" class="row g-0 ">

        <div class="col-lg-4 col-sm-6" *ngFor="let proyecto of proyectos">
            <div class="proyecto">
                    <img src="{{proyecto.url_image}}" alt="Proyecto">
                    <div class="proyecto-overlay">
                        <div>
                            <h4>{{proyecto.name}}</h4>
                            <p>{{proyecto.description}}</p>
                            <div class="d-flex fs-4 align-items-center">
                                <a href="{{proyecto.url_sourceCode}}" target="_blank" class="link-proyecto fs-4"><i title="Ver proyecto" class="fa-solid fa-link me-2"></i></a>
                                <button class="btn claro" data-bs-toggle="modal" data-bs-target="#agregar-proyecto"><i class="fa-solid fa-plus icon-edit"></i></button>
                                <button class="btn claro" data-bs-toggle="modal" data-bs-target="#edit-proyecto" ><i class="fa-solid fa-pen-to-square icon-edit"></i></button>
                                <button class="btn claro" (click)="borrar(proyecto.id!)" *ngIf="admin == true" ><i class="bi bi-trash"></i></button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>

    <!-- (click)="eliminarProyecto(proyecto.id) -->