
<!--Sobre mi-->
<section id="sobre" class="page-section bg text-white mb-0 pt-5 pb-5">
    <div class="container" *ngFor="let about of about">
        <!-- About Section Heading-->
    <div class="row">
        <div class="col-6">
            <h2 class="page-section-heading text-uppercase text-white pb-2">Sobre mí</h2>
        </div>

        <div class="col-6 align-self-end">
           <button class="btn edit-btn edit-btn-claro float-end claro" data-bs-toggle="modal" data-bs-target="#edit-about" routerLink="/editarAbout/{{about.id}}"><i class="fa-solid fa-pen-to-square"></i></button>
        </div>
    </div>

        <!-- About Section Content-->
        <div>
            <p class=" lh-lg fs-5 about-description">{{about.description1}}</p>
            <p class=" lh-lg fs-5 about-description">{{about.description2}}</p>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a href="{{about.url_CV}}" target="_blank" class="button">Descargar CV</a>
        </div>
    </div>
</section>