
<!--Sobre mi-->
<section id="sobre" class="page-section bg text-white mb-0 pt-5 pb-5">
    <div class="container">
        <!-- About Section Heading-->
    <div class="row">
        <div class="col-6">
            <h2 class="page-section-heading text-uppercase text-white pb-2">Sobre mí</h2>
        </div>

        <div class="col-6 align-self-end">
           <button class="btn edit-btn edit-btn-claro float-end claro" data-bs-toggle="modal" data-bs-target="#edit-about"><i class="fa-solid fa-pen-to-square"></i></button>
        </div>
    </div>


        <!-- About Section Content-->
        <div>
            <p class=" lh-lg fs-5 about-description">
              ¡Hola! Soy Sophia Alvarez, tengo 19 años y soy de Argentina. Desde que tengo memoria he sido una persona con un gran gusto por aprender cosas nuevas y esto es lo que me llevó hacia el mundo de la programación en un primer momento.</p>
            
            <p class="lh-lg fs-5">Podría describirme como una persona responsable con sus obligaciones y que está abierta a nuevos descubrimientos y aprendizajes. Alguien entusiasmada en seguir ampliando mi conocimiento, explorar nuevas oportunidades y crecer en el área laboral, personal e intelectual</p>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <a href="../../../assets/CV.pdf" target="_blank" class="button">Descargar CV</a>
        </div>
    </div>
</section>