
<!-- Editar about -->
<div class="modal fade" id="edit-about" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sobre mí</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" [formGroup]="editarAbout">
            <div class="input-content mb-3 mt-2">
              <label for="descripcion" class="input-label">Párrafo 1</label>
              <textarea
              name="descripcion"
              cols="0"
              rows="10"
              class="input"
              required
              minlength="20" formControlName="description1"></textarea>
            </div>
            <div class="input-content mb-3 mt-2">
              <label for="descripcion" class="input-label" >Párrafo 2</label>
              <textarea
              name="descripcion"
              cols="0"
              rows="10"
              class="input"
              required
              minlength="20" formControlName="description2"></textarea>
            </div>
            <div class="input-content mb-3">
              <label for="url_CV" class="input-label">URL CV</label>
              <input type="text" name="url_CV" class="input" required minlength="6" formControlName="url_CV">
            </div>
          </form>
        </div>      
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="onUpdate()">Editar</button>
        </div>
      </div>
    </div>
  </div>