<!-- MODALS -->
<app-iniciar-sesion></app-iniciar-sesion>
<app-editar-hero></app-editar-hero>
<app-editar-about></app-editar-about>
<app-editar-educacion></app-editar-educacion>
<app-editar-experiencia></app-editar-experiencia>
<app-editar-proyectos></app-editar-proyectos>
<app-editar-skills></app-editar-skills>
<app-agregar-educacion></app-agregar-educacion>
<app-agregar-experiencia></app-agregar-experiencia>
<app-agregar-proyecto></app-agregar-proyecto>
<app-agregar-skill></app-agregar-skill>

<!-- CONTENIDO -->
<app-navbar></app-navbar>  
<app-hero></app-hero>
<app-about></app-about>
<app-educacion-experiencia></app-educacion-experiencia>
<app-skills></app-skills>
<app-proyectos></app-proyectos>
<app-footer></app-footer>
