
<!--Agregar Formación Académica-->
<div class="modal fade" id="agregar-estudios" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <form action="" (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Añadir Formación Académica</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="input-content mb-3 mt-2">
            <label for="title" class="input-label">Título</label>
            <input type="text" name="tile" class="input" required [(ngModel)]="title">
          </div>
          <div class="input-content mb-3 mt-2">
            <label for="time" class="input-label">Duración</label>
            <input type="text" name="time" class="input" required [(ngModel)]="time">
          </div>
          <div class="input-content mb-3 mt-2">
            <label for="description" class="input-label">Lugar</label>
            <input type="text" name="description" class="input" required  [(ngModel)]="description">
          </div>
        </div>
        
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Agregar</button>
        </div>
      </form>
      </div>
    </div>
  </div>