<!--Skills-->
<section id="skills" class="skills">
    <div class="container py-5">

        <div class="pb-2">
            <h2 class="page-section-heading text-uppercase pb-2">Skills</h2>

            <div class="row skills-content">

                <div class="col-12 pb-3">

                    <div class="progress" *ngFor="let hardskill of hardskill">
                        <span class="skill fs-6">{{hardskill.nombre}}
                            <button class="btn edit-btn float-end oscuro"><i class="fa-solid fa-plus"></i></button>
                        </span>
                        <div class="progress-bar-wrap">
                            <mat-progress-bar class="mb-2 progress-bar" [color]="color" [mode]="mode" [value]="hardskill.porcentaje" [bufferValue]="bufferValue" style="height:12px; border-radius: 4px;"></mat-progress-bar>
                        </div>


                    </div>
                </div>


                <div class="mt-3">

                    <div class="row">
                        <div class="col-8">
                            <h3 class="text-uppercase pb-2 fs-4">Soft Skills</h3>
                        </div>
                        <div class="col-4">
                            <button class="btn edit-btn float-end oscuro" data-bs-toggle="modal"
                                data-bs-target="#edit-soft-skills"><i class="fa-solid fa-pen-to-square"></i></button>
                        </div>

                        <p class="fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ipsum autem
                            soluta explicabo similique aliquam distinctio necessitatibus quas. Odit impedit voluptatem
                            ratione tenetur vero inventore dolorem maxime quia similique fugiat!</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>