
<!-- Editar Hero -->
<div class="modal fade" id="edit-hero" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar datos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="" [formGroup]="editarPerfil">
            <div class="input-content mb-3 mt-2">
              <label for="user" class="input-label">Nombre</label>
              <input type="text" name="user" class="input" required minlength="6" formControlName="nombre">
            </div>
            <div class="input-content mb-3">
              <label for="titulo" class="input-label">Título</label>
              <input type="text" name="titulo" class="input" required minlength="6" formControlName="puesto">
            </div>
          </form>
          </div>
 
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="onUpdate()">Editar</button>
        </div>
      </div>
    </div>
  </div>