
     <!--Formación Académica y experiencia laboral-->
     <section id="resumen" class="resume">
        <div class="container p-5">
  
          <div>
            <h2 class="page-section-heading text-uppercase pb-2">Resumen</h2>
          </div>
  
          <div class="row">
            <div class="col-lg-6">

              <h3 class="resume-title">Formación Académica</h3>

              <div class="resume-item">
                <div class="row">
                  <div class="col-8">
                    <h4>React Frontend Developer</h4>
                  </div>

                  <div class="col-4">
                    <button class="btn edit-btn float-end oscuro" data-bs-toggle="modal" data-bs-target="#agregar-estudios"><i class="fa-solid fa-plus"></i></button>
                    <button  class="btn edit-btn float-end oscuro" data-bs-toggle="modal" data-bs-target="#edit-estudios"><i class="fa-solid fa-pen-to-square"></i></button>
                  </div>
                </div>
                <h5>Mayo 2022 - Noviembre 2022</h5>
                <p><em>Digit@lers - Telecom Argentina</em></p>
              </div>

              <div class="resume-item">
                <div class="row">
                  <div class="col-8">
                    <h4>Trainee Full Stack Developer</h4>
                  </div>

                  <div class="col-4">
                    <button class="btn edit-btn float-end oscuro" data-bs-toggle="modal" data-bs-target="#agregar-estudios"><i class="fa-solid fa-plus"></i></button>
                    <button class="btn edit-btn float-end oscuro" data-bs-toggle="modal" data-bs-target="#edit-estudios"><i class="fa-solid fa-pen-to-square"></i></button>
                  </div>
                </div>
                <h5>Abril 2022 - Agosto 2022</h5>
                <p><em>Talento Joven - ITBA - Instituto Tecnológico de Buenos Aires</em></p>
              </div>

              <div class="resume-item">
                <div class="row">
                  <div class="col-8">
                    <h4>Jr. Full Stack Developer</h4>
                  </div>

                  <div class="col-4">
                    <button class="btn edit-btn float-end oscuro" data-bs-toggle="modal" data-bs-target="#agregar-estudios"><i class="fa-solid fa-plus"></i></button>
                    <button class="btn edit-btn float-end oscuro" data-bs-toggle="modal" data-bs-target="#edit-estudios"><i class="fa-solid fa-pen-to-square"></i></button>
                  </div>
                </div>
                <h5> Febrero 2022 - Agosto 2022</h5>
                <p><em>#YoProgramo - Argentina Programa</em></p>
              </div>

              
              <div class="resume-item">
                <div class="row">
                  <div class="col-8">
                    <h4>Bachiller en Lenguas</h4>
                  </div>

                  <div class="col-4">
                    <button class="btn edit-btn float-end oscuro" data-bs-toggle="modal" data-bs-target="#agregar-estudios"><i class="fa-solid fa-plus"></i></button>
                    <button class="btn edit-btn float-end oscuro" data-bs-toggle="modal" data-bs-target="#edit-estudios"><i class="fa-solid fa-pen-to-square"></i></button>
                  </div>
                </div>
                <h5>2016-2020</h5>
                <p><em>Departamento de Aplicación Docente - UNCUYO</em></p>
              </div>
            </div>

            

            <div class=" ms-2 col-lg-5">
              <h3 class="resume-title">Experiencia Laboral</h3>
              <div class="resume-item">
                <div class="row">
                  <div class="col-8">
                    <h4>Profesora Particular de Matemática</h4>
                  </div>

                  <div class="col-4">
                    <button class="btn edit-btn float-end oscuro" data-bs-toggle="modal" data-bs-target="#agregar-trabajo"><i class="fa-solid fa-plus"></i></button>
                    <button class="btn edit-btn float-end oscuro" data-bs-toggle="modal" data-bs-target="#edit-trabajo"><i class="fa-solid fa-pen-to-square"></i></button>
                  </div>
                </div>
                <h5>2018-2019</h5>
                <p><em>Departamento de Aplicación Docente</em></p>
              </div>
            </div>
          </div>
  
        </div>
     
            
    </section>