
     <!--Formación Académica y experiencia laboral-->
     <section id="resumen" class="resume">
        <div class="container p-5">
  
          <div>
            <h2 class="page-section-heading text-uppercase pb-2">Resumen</h2>
          </div>
  
          <div class="row">
            <div class="col-lg-6">

              <h3 class="resume-title">Formación Académica</h3>

              <div class="resume-item" *ngFor="let estudio of estudios">
                <div class="row">
                  <div class="col-8">
                    <h4>{{estudio.title}}</h4>
                  </div>

                  <div class="col-4">
                    <button class="btn edit-btn float-end oscuro"  *ngIf="admin == '1'" (click)="borrarEstudio(estudio.id!)"><i class="fa-solid fa-trash"></i></button>
                    <button class="btn edit-btn float-end oscuro" data-bs-toggle="modal" data-bs-target="#agregar-estudios" *ngIf="admin == '1'"><i class="fa-solid fa-plus"></i></button>
                    <button  class="btn edit-btn float-end oscuro" data-bs-toggle="modal" data-bs-target="#edit-estudios" (click)="setearIdEs(estudio.id!)" *ngIf="admin == '1'"><i class="fa-solid fa-pen-to-square"></i></button>
                  </div>
                </div>
                <h5>{{estudio.time}}</h5>
                <p><em>{{estudio.description}}</em></p>
              </div>

            </div>

      <!-- Experencia -->
            <div class=" ms-2 col-lg-5">
              <h3 class="resume-title">Experiencia Laboral</h3>
              <div class="resume-item" *ngFor="let experiencia of experiencia">
                <div class="row">
                  <div class="col-8">
                    <h4>{{experiencia.title}}</h4>
                  </div>

                  <div class="col-4">
                    <button class="btn edit-btn float-end oscuro" *ngIf="admin == '1'" (click)="borrarExp(experiencia.id!)"><i class="fa-solid fa-trash"></i></button>
                    <button class="btn edit-btn float-end oscuro" data-bs-toggle="modal" data-bs-target="#agregar-trabajo" *ngIf="admin == '1'"><i class="fa-solid fa-plus"></i></button>
                    <button class="btn edit-btn float-end oscuro" data-bs-toggle="modal" data-bs-target="#edit-trabajo" (click)="setearIdExp(experiencia.id!)" *ngIf="admin == '1'"><i class="fa-solid fa-pen-to-square"></i></button>
                  </div>
                </div>
                <h5>{{experiencia.time}}</h5>
                <p><em>{{experiencia.description}}</em></p>
              </div>
            </div>
          </div>
  
        </div>
     
            
    </section>